# Firebase Keys (Add yours from Firebase Console)
VITE_FIREBASE_API_KEY=AIzaSyAkjNwqfXZLtpe6Wz-RH3iE0vPWP4XZodg
VITE_FIREBASE_AUTH_DOMAIN=parbet-44902.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=parbet-44902
VITE_FIREBASE_STORAGE_BUCKET=parbet-44902.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=981473606614
VITE_FIREBASE_APP_ID=1:981473606614:web:c26409648caadcb77dc277

# EmailJS Keys (Add yours from EmailJS Dashboard)
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key