VITE_FIREBASE_API_KEY=AIzaSyAkjNwqfXZLtpe6Wz-RH3iE0vPWP4XZodg
VITE_FIREBASE_AUTH_DOMAIN=parbet-44902.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=parbet-44902
VITE_FIREBASE_STORAGE_BUCKET=parbet-44902.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=981473606614
VITE_FIREBASE_APP_ID=1:981473606614:web:c26409648caadcb77dc277
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=your_template_id
VITE_EMAILJS_PUBLIC_KEY=your_public_key
VITE_ODDS_API_KEY=ab89e241ebadbc356bfb73dd3dec0b95
VITE_CRIC_API_KEY=ca615d8f-e948-45a8-aa16-76b14f95d8fe
VITE_SPORTMONKS_API_KEY=ycXj9TC0VDsGnt5K6DTu8NUGHfFJsQDB7gwEQS07ikIgbtGbNWCN1yRBVJkF
VITE_RAPID_API_KEY=your_rapidapi_key_here
VITE_SEATGEEK_CLIENT_ID=your_seatgeek_client_id_here
VITE_TICKETMASTER_API_KEY=your_ticketmaster_api_key_here