@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body { background-color: #0E1015; color: #FFFFFF; margin: 0; font-family: 'Plus Jakarta Sans', sans-serif; overflow-x: hidden; }
.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.odds-btn { @apply bg-[#2A2D35] hover:bg-brand-primary hover:text-white transition-colors rounded text-xs font-bold flex justify-between items-center px-2 py-1.5 w-full; }
.odds-val { @apply text-brand-neon; }